In [49]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [151]:
tikrs = ['jnj', 'cvx', 'asml', 'nvda', 'ma', 
            'mrk', 'nvo', 'hd', 'avgo', 'amzn', 'xom', 
            'mvt', 'meta', 'lvmuy', 'aapl', 'pg', 'v', 
            'tsm', 'bac', 'lly', 'ko', 'spy', 'tsla', 
            'goog', 'googl', 'abbv', 'jpm', 'wmt', 'unh',
            'brk-b', 'baba', 'msft']
with open('100_tikrs.txt') as f:
    tikrs = f.read()
tikrs = tikrs.split("\n")

32

In [157]:
def clean_df(file_dir, moving_avg_d):
    df = pd.read_csv(file_dir)
    df['Date'] = df['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
    df['Close/Last'] = df['Close/Last'].replace('[\$,]', '', regex=True).astype(float)
    df['moving_avg'] = df['Close/Last'].rolling(window=moving_avg_d).mean()
    return df

In [158]:
def load_data(tikrs, moving_period):
    TIKR_dict = {}
    for tikr in tikrs:
        data_dir = str('data/' + tikr + str('.csv'))
        company_df = clean_df(data_dir, moving_period)
        TIKR_dict[tikr] = company_df
       
    return TIKR_dict

In [196]:
#TIKRS_dat = load_data(tikrs, 7)
import yfinance as yf
aapl= yf.download("aapl", start="2013-02-25").reset_index()
moving_avg_d = 7
#aapl['Date'] = aapl['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
aapl['Close'] = aapl['Close'].replace('[\$,]', '', regex=True).astype(float)
aapl['moving_avg'] = aapl['Close'].rolling(window=oving_avg_d).mean()
aapl

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,moving_avg
0,2013-02-25,16.208929,16.254286,15.806071,15.814286,13.658500,372579200,NaN
1,2013-02-26,15.850714,16.126429,15.630714,16.034643,13.848817,501499600,NaN
2,2013-02-27,16.015356,16.158571,15.737500,15.877500,13.713097,587350400,NaN
3,2013-02-28,15.858929,15.995357,15.764286,15.764286,13.615314,322515200,NaN
4,2013-03-01,15.642857,15.649286,15.356429,15.373929,13.278172,552448400,NaN
...,...,...,...,...,...,...,...,...
2516,2023-02-22,148.869995,149.949997,147.160004,148.910004,148.910004,51011300,152.290002
2517,2023-02-23,150.089996,150.339996,147.240005,149.399994,149.399994,48394200,151.654286
2518,2023-02-24,147.110001,147.190002,145.720001,146.710007,146.710007,55418200,150.727145
2519,2023-02-27,147.710007,149.169998,147.449997,147.919998,147.919998,44998500,149.668573
2520,2023-02-28,147.050003,149.074997,146.869995,148.595001,148.595001,25789152,148.937857

In [206]:
#TIKRS_dat = load_data(tikrs, 7)

TIKR_dict = {}
for tikr in tikrs:
    moving_avg_d = 7

    df= yf.download(tikr, start="1980-08-30").reset_index()
    df['Close'] = df['Close'].replace('[\$,]', '', regex=True).astype(float)
    df['moving_avg'] = df['Close'].rolling(window=moving_avg_d).mean()
    TIKR_dict[tikr] = df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  0 of 0 completed

ValueError: No objects to concatenate

In [207]:
TIKR_dict

{'aapl':             Date        Open        High         Low       Close   Adj Close  \
 0     1980-12-12    0.128348    0.128906    0.128348    0.128348    0.099722
 1     1980-12-15    0.122210    0.122210    0.121652    0.121652    0.094519
 2     1980-12-16    0.113281    0.113281    0.112723    0.112723    0.087582
 3     1980-12-17    0.115513    0.116071    0.115513    0.115513    0.089749
 4     1980-12-18    0.118862    0.119420    0.118862    0.118862    0.092351
 ...          ...         ...         ...         ...         ...         ...
 10637 2023-02-22  148.869995  149.949997  147.160004  148.910004  148.910004
 10638 2023-02-23  150.089996  150.339996  147.240005  149.399994  149.399994
 10639 2023-02-24  147.110001  147.190002  145.720001  146.710007  146.710007
 10640 2023-02-27  147.710007  149.169998  147.449997  147.919998  147.919998
 10641 2023-02-28  147.050003  149.074997  146.869995  148.029907  148.029907

           Volume  moving_avg
 0      469033600         NaN
 1      175884800         NaN
 2      105728000         NaN
 3       86441600         NaN
 4       73449600         NaN
 ...          ...         ...
 10637   51011300  152.290002
 10638   48394200  151.654286
 10639   55418200  150.727145
 10640   44998500  149.668573
 10641   29105100  148.857130

 [10642 rows x 8 columns],
 'msft':            Date        Open        High         Low       Close   Adj Close  \
 0    1986-03-13    0.088542    0.101563    0.088542    0.097222    0.060657
 1    1986-03-14    0.097222    0.102431    0.097222    0.100694    0.062823
 2    1986-03-17    0.100694    0.103299    0.100694    0.102431    0.063907
 3    1986-03-18    0.102431    0.103299    0.098958    0.099826    0.062281
 4    1986-03-19    0.099826    0.100694    0.097222    0.098090    0.061198
 ...         ...         ...         ...         ...         ...         ...
 9311 2023-02-22  254.089996  254.339996  250.339996  251.509995  251.509995
 9312 2023-02-23  255.559998  256.839996  250.479996  254.770004  254.770004
 9313 2023-02-24  249.960007  251.000000  248.100006  249.220001  249.220001
 9314 2023-02-27  252.460007  252.820007  249.389999  250.160004  250.160004
 9315 2023-02-28  249.070007  251.490005  248.732498  249.339996  249.339996

           Volume  moving_avg
 0     1031788800         NaN
 1      308160000         NaN
 2      133171200         NaN
 3       67766400         NaN
 4       47894400         NaN
 ...          ...         ...
 9311    22491100  262.457145
 9312    29219100  260.092858
 9313    24978700  256.814285
 9314    21190000  254.077142
 9315    11983575  252.247142

 [9316 rows x 8 columns],
 'googl':            Date       Open       High        Low      Close  Adj Close  \
 0    2004-08-19   2.502503   2.604104   2.401401   2.511011   2.511011
 1    2004-08-20   2.527778   2.729730   2.515015   2.710460   2.710460
 2    2004-08-23   2.771522   2.839840   2.728979   2.737738   2.737738
 3    2004-08-24   2.783784   2.792793   2.591842   2.624374   2.624374
 4    2004-08-25   2.626627   2.702703   2.599600   2.652653   2.652653
 ...         ...        ...        ...        ...        ...        ...
 4659 2023-02-22  91.699997  92.110001  90.610001  91.650002  91.650002
 4660 2023-02-23  91.919998  91.940002  89.760002  90.889999  90.889999
 4661 2023-02-24  89.440002  89.889999  88.580002  89.129997  89.129997
 4662 2023-02-27  89.870003  90.160004  89.339996  89.870003  89.870003
 4663 2023-02-28  89.330002  91.230003  89.334999  90.519997  90.519997

          Volume  moving_avg
 0     893181924         NaN
 1     456686856         NaN
 2     365122512         NaN
 3     304946748         NaN
 4     183772044         NaN
 ...         ...         ...
 4659   30884000   94.218572
 4660   41206400   93.687144
 4661   36554600   92.894286
 4662   27502300   91.884286
 4663   19248072   91.171428

 [4664 rows x 8 columns],
 'amzn':            Date       Open       High        Low      Close  Adj Close  \
 0    1997-05-15   0.121875   0.125000   0.096354   0.097917   0.097917
 1    1997-05-16   0.098438   0.098958   0.085417   0.086458   0.086458
 2    1997-05-19   0.088021   0.088542   0.081250   0.085417   0.085417
 3    1997-05-20   0.086458   0.087500   0.081771   0.081771   0.081771
 4    1997-05-21   0.081771   0.082292   0.068750   0.071354   0.071354
 ...         ...        ...        ...        ...        ...        ...
 6485 2023-02-22  95.099998  97.010002  94.800003  95.790001  95.790001
 6486 2023-02-23  96.120003  96.430000  93.669998  95.820000  95.820000
 6487 2023-02-24  93.529999  94.139999  92.320000  93.500000  93.500000
 6488 2023-02-27  94.279999  94.779999  93.139999  93.760002  93.760002
 6489 2023-02-28  93.139999  94.690002  92.919998  94.035004  94.035004

           Volume  moving_avg
 0     1443120000         NaN
 1      294000000         NaN
 2      122136000         NaN
 3      109344000         NaN
 4      377064000         NaN
 ...          ...         ...
 6485    59534100   98.017143
 6486    48467000   97.485715
 6487    57010100   96.600001
 6488    47470300   95.542858
 6489    28274163   94.955001

 [6490 rows x 8 columns],
 'brk-b':            Date        Open        High         Low       Close   Adj Close  \
 0    1996-05-09   22.200001   24.400000   22.200001   23.200001   23.200001
 1    1996-05-10   24.000000   24.200001   23.600000   24.000000   24.000000
 2    1996-05-13   24.000000   24.100000   23.299999   23.900000   23.900000
 3    1996-05-14   24.000000   24.100000   23.100000   23.600000   23.600000
 4    1996-05-15   23.600000   23.700001   23.000000   23.200001   23.200001
 ...         ...         ...         ...         ...         ...         ...
 6742 2023-02-22  303.200012  305.269989  301.769989  303.160004  303.160004
 6743 2023-02-23  305.010010  305.559998  300.250000  303.070007  303.070007
 6744 2023-02-24  300.399994  305.619995  300.010010  304.019989  304.019989
 6745 2023-02-27  304.369995  305.779999  302.010010  304.660004  304.660004
 6746 2023-02-28  304.890015  306.149994  303.410004  304.742889  304.742889

        Volume  moving_avg
 0     4290000         NaN
 1     1060000         NaN
 2      700000         NaN
 3      310000         NaN
 4      545000         NaN
 ...       ...         ...
 6742  2899500  308.065713
 6743  2736400  306.541430
 6744  3656200  305.574284
 6745  3652200  304.864284
 6746  2441684  304.373269

 [6747 rows x 8 columns],
 'tsla':            Date        Open        High         Low       Close   Adj Close  \
 0    2010-06-29    1.266667    1.666667    1.169333    1.592667    1.592667
 1    2010-06-30    1.719333    2.028000    1.553333    1.588667    1.588667
 2    2010-07-01    1.666667    1.728000    1.351333    1.464000    1.464000
 3    2010-07-02    1.533333    1.540000    1.247333    1.280000    1.280000
 4    2010-07-06    1.333333    1.333333    1.055333    1.074000    1.074000
 ...         ...         ...         ...         ...         ...         ...
 3184 2023-02-22  197.929993  201.990005  191.779999  200.860001  200.860001
 3185 2023-02-23  203.910004  205.139999  196.330002  202.070007  202.070007
 3186 2023-02-24  196.330002  197.669998  192.800003  196.880005  196.880005
 3187 2023-02-27  202.029999  209.419998  201.259995  207.630005  207.630005
 3188 2023-02-28  210.589996  211.199997  203.750000  205.149994  205.149994

          Volume  moving_avg
 0     281494500         NaN
 1     257806500         NaN
 2     123282000         NaN
 3      77097000         NaN
 4     103003500         NaN
 ...         ...         ...
 3184  191828500  203.815713
 3185  146360000  204.877143
 3186  141965900  203.110001
 3187  161028300  202.165715
 3188  136924780  202.610001

 [3189 rows x 8 columns],
 'nvda':            Date        Open        High         Low       Close   Adj Close  \
 0    1999-01-22    0.437500    0.488281    0.388021    0.410156    0.376422
 1    1999-01-25    0.442708    0.458333    0.410156    0.453125    0.415856
 2    1999-01-26    0.458333    0.467448    0.411458    0.417969    0.383592
 3    1999-01-27    0.419271    0.429688    0.395833    0.416667    0.382397
 4    1999-01-28    0.416667    0.419271    0.412760    0.415365    0.381202
 ...         ...         ...         ...         ...         ...         ...
 6060 2023-02-22  207.070007  211.039993  204.210007  207.539993  207.539993
 6061 2023-02-23  234.399994  238.880005  230.250000  236.639999  236.639999
 6062 2023-02-24  232.250000  234.740005  229.470001  232.860001  232.860001
 6063 2023-02-27  236.699997  238.800003  234.539993  235.009995  235.009995
 6064 2023-02-28  233.720001  238.250000  232.910004  233.699997  233.699997

          Volume  moving_avg
 0     271468800         NaN
 1      51048000         NaN
 2      34320000         NaN
 3      24436800         NaN
 4      22752000         NaN
 ...         ...         ...
 6060   51318400  217.602859
 6061  111799500  220.282859
 6062   58918100  220.732858
 6063   45299400  221.785714
 6064   33737324  223.739999

 [6065 rows x 8 columns],
 'v':            Date        Open        High         Low       Close   Adj Close  \
 0    2008-03-19   14.875000   17.250000   13.750000   14.125000   12.727638
 1    2008-03-20   14.600000   16.250000   14.375000   16.087500   14.495990
 2    2008-03-24   16.809999   16.924999   14.750000   14.932500   13.455253
 3    2008-03-25   15.145000   16.062500   14.955000   15.812500   14.248199
 4    2008-03-26   15.682500   16.120001   15.392500   15.990000   14.408140
 ...         ...         ...         ...         ...         ...         ...
 3758 2023-02-22  220.410004  221.750000  219.449997  220.020004  220.020004
 3759 2023-02-23  221.559998  222.089996  218.929993  221.130005  221.130005
 3760 2023-02-24  218.479996  220.240005  217.460007  219.550003  219.550003
 3761 2023-02-27  220.729996  221.440002  219.339996  220.350006  220.350006
 3762 2023-02-28  220.000000  221.759995  219.520004  220.059998  220.059998

          Volume  moving_avg
 0     708486000         NaN
 1     198985200         NaN
 2     149566400         NaN
 3      87092000         NaN
 4      43111600         NaN
 ...         ...         ...
 3758    4621800  225.317143
 3759    5533800  224.210000
 3760    4411800  222.804286
 3761    4255300  221.580002
 3762    2590634  220.755716

 [3763 rows x 8 columns],
 'unh':            Date        Open        High         Low       Close   Adj Close  \
 0    1984-10-17    0.000000    0.148438    0.144531    0.144531    0.117945
 1    1984-10-18    0.000000    0.156250    0.148438    0.148438    0.121133
 2    1984-10-19    0.000000    0.148438    0.144531    0.144531    0.117945
 3    1984-10-22    0.000000    0.148438    0.144531    0.144531    0.117945
 4    1984-10-23    0.000000    0.144531    0.140625    0.140625    0.114757
 ...         ...         ...         ...         ...         ...         ...
 9664 2023-02-22  492.809998  493.890015  488.670013  488.890015  488.890015
 9665 2023-02-23  486.660004  493.329987  485.869995  491.690002  491.690002
 9666 2023-02-24  489.579987  492.510010  483.010010  484.329987  484.329987
 9667 2023-02-27  488.769989  490.940002  481.959991  483.320007  483.320007
 9668 2023-02-28  482.670013  485.149994  474.000000  474.458008  474.458008

        Volume  moving_avg
 0     9868800         NaN
 1     5324800         NaN
 2     3043200         NaN
 3     2326400         NaN
 4      787200         NaN
 ...       ...         ...
 9664  2982800  492.294285
 9665  2511800  491.771428
 9666  2940400  490.557142
 9667  3006200  489.424286
 9668  2257926  487.582572

 [9669 rows x 8 columns],
 'tsm':            Date       Open       High        Low      Close  Adj Close  \
 0    1997-10-09   5.646040   6.562691   5.646040   6.323565   3.289080
 1    1997-10-10   7.014374   7.040944   6.363419   6.615830   3.441096
 2    1997-10-13   6.629115   6.629115   6.443128   6.469698   3.365088
 3    1997-10-14   6.416558   6.429843   6.031299   6.204002   3.226892
 4    1997-10-15   5.818742   6.044584   5.805458   6.031299   3.137064
 ...         ...        ...        ...        ...        ...        ...
 6383 2023-02-22  87.750000  88.089996  86.660004  86.830002  86.830002
 6384 2023-02-23  90.300003  91.989998  89.459999  90.080002  90.080002
 6385 2023-02-24  88.089996  88.150002  87.239998  88.110001  88.110001
 6386 2023-02-27  88.699997  88.849998  87.239998  87.300003  87.300003
 6387 2023-02-28  87.139999  88.144997  86.900002  87.474998  87.474998

         Volume  moving_avg
 0     10201979         NaN
 1     10669148         NaN
 2      3044363         NaN
 3      2549907         NaN
 4      3167153         NaN
 ...        ...         ...
 6383  10106400   91.745714
 6384  15468300   90.884286
 6385   8812100   89.477143
 6386  10609400   88.697144
 6387   5454555   88.219286

 [6388 rows x 8 columns],
 'xom':             Date        Open        High         Low       Close   Adj Close  \
 0     1980-09-02    4.375000    4.445313    4.375000    4.421875    0.737075
 1     1980-09-03    4.460938    4.500000    4.460938    4.492188    0.748795
 2     1980-09-04    4.492188    4.570313    4.460938    4.476563    0.746190
 3     1980-09-05    4.476563    4.500000    4.476563    4.492188    0.748795
 4     1980-09-08    4.476563    4.476563    4.390625    4.390625    0.731865
 ...          ...         ...         ...         ...         ...         ...
 10708 2023-02-22  110.480003  110.970001  108.639999  109.730003  109.730003
 10709 2023-02-23  110.730003  111.830002  109.900002  110.739998  110.739998
 10710 2023-02-24  109.330002  110.959999  109.019997  110.750000  110.750000
 10711 2023-02-27  110.800003  111.260002  109.959999  110.550003  110.550003
 10712 2023-02-28  111.239998  111.419998  109.220001  110.010002  110.010002

          Volume  moving_avg
 0       3190400         NaN
 1       3500800         NaN
 2       5086400         NaN
 3       3484800         NaN
 4       4025600         NaN
 ...         ...         ...
 10708  13973800  114.028572
 10709  11289400  113.020000
 10710  14338500  112.210000
 10711  11710500  111.421429
 10712   9403857  110.604286

 [10713 rows x 8 columns],
 'meta':            Date        Open        High         Low       Close   Adj Close  \
 0    2012-05-18   42.049999   45.000000   38.000000   38.230000   38.230000
 1    2012-05-21   36.529999   36.660000   33.000000   34.029999   34.029999
 2    2012-05-22   32.610001   33.590000   30.940001   31.000000   31.000000
 3    2012-05-23   31.370001   32.500000   31.360001   32.000000   32.000000
 4    2012-05-24   32.950001   33.209999   31.770000   33.029999   33.029999
 ...         ...         ...         ...         ...         ...         ...
 2707 2023-02-22  171.070007  172.759995  169.690002  171.119995  171.119995
 2708 2023-02-23  172.000000  173.690002  169.380005  172.039993  172.039993
 2709 2023-02-24  168.639999  170.720001  167.660004  170.389999  170.389999
 2710 2023-02-27  171.880005  173.119995  169.059998  169.539993  169.539993
 2711 2023-02-28  171.899994  177.547394  171.929993  176.993103  176.993103

          Volume  moving_avg
 0     573576400         NaN
 1     168192700         NaN
 2     101786600         NaN
 3      73600000         NaN
 4      50237200         NaN
 ...         ...         ...
 2707   22433200  174.941428
 2708   20017800  173.885714
 2709   19763800  172.587143
 2710   19277000  171.498570
 2711   33839903  172.149013

 [2712 rows x 8 columns],
 'lvmuy':            Date        Open        High         Low       Close   Adj Close  \
 0    2006-01-27   18.500000   18.549999   18.400000   18.500000   12.057063
 1    2006-01-30   18.400000   18.500000   18.400000   18.400000   11.991894
 2    2006-01-31   18.400000   18.500000   18.299999   18.400000   11.991894
 3    2006-02-01   18.250000   18.250000   18.250000   18.250000   11.894133
 4    2006-02-02   18.250000   18.250000   18.250000   18.250000   11.894133
 ...         ...         ...         ...         ...         ...         ...
 4296 2023-02-22  171.669998  172.899994  171.179993  171.460007  171.460007
 4297 2023-02-23  172.100006  172.910004  170.520004  172.759995  172.759995
 4298 2023-02-24  166.619995  167.169998  163.990005  165.380005  165.380005
 4299 2023-02-27  169.020004  169.449997  167.910004  168.910004  168.910004
 4300 2023-02-28  168.080002  168.740005  166.520004  166.634995  166.634995

       Volume  moving_avg
 0        900         NaN
 1        900         NaN
 2       3900         NaN
 3        100         NaN
 4          0         NaN
 ...      ...         ...
 4296   77500  174.334290
 4297  119300  174.122859
 4298  203900  172.648575
 4299  235600  171.521432
 4300   98899  170.287859

 [4301 rows x 8 columns],
 'jnj':             Date        Open        High         Low       Close   Adj Close  \
 0     1980-09-02    1.653646    1.666667    1.648438    1.664063    0.612454
 1     1980-09-03    1.664063    1.682292    1.661458    1.666667    0.613413
 2     1980-09-04    1.666667    1.671875    1.627604    1.643229    0.604786
 3     1980-09-05    1.643229    1.648438    1.625000    1.627604    0.599036
 4     1980-09-08    1.627604    1.630208    1.609375    1.609375    0.592326
 ...          ...         ...         ...         ...         ...         ...
 10708 2023-02-22  158.500000  158.850006  157.369995  157.779999  157.779999
 10709 2023-02-23  157.710007  158.589996  156.669998  157.729996  157.729996
 10710 2023-02-24  156.649994  156.850006  155.210007  155.970001  155.970001
 10711 2023-02-27  156.449997  156.899994  155.080002  155.630005  155.630005
 10712 2023-02-28  154.979996  155.179993  153.289993  153.339996  153.339996

         Volume  moving_avg
 0      1612800         NaN
 1      2025600         NaN
 2      5260800         NaN
 3      3321600         NaN
 4      2942400         NaN
 ...        ...         ...
 10708  9820200  159.795713
 10709  9385100  159.078570
 10710  8686300  158.211428
 10711  7267100  157.677144
 10712  4963899  156.977142

 [10713 rows x 8 columns],
 'jpm':             Date        Open        High         Low       Close   Adj Close  \
 0     1980-09-02    0.000000    6.185185    6.074074    6.166667    1.364652
 1     1980-09-03    0.000000    6.388889    6.222222    6.388889    1.413829
 2     1980-09-04    0.000000    6.388889    6.314815    6.314815    1.397436
 3     1980-09-05    0.000000    6.333333    6.277778    6.277778    1.389241
 4     1980-09-08    0.000000    6.333333    6.277778    6.314815    1.397436
 ...          ...         ...         ...         ...         ...         ...
 10708 2023-02-22  138.919998  139.429993  137.440002  138.559998  138.559998
 10709 2023-02-23  138.729996  140.169998  137.940002  139.669998  139.669998
 10710 2023-02-24  139.110001  141.360001  138.929993  140.929993  140.929993
 10711 2023-02-27  142.110001  143.309998  141.720001  142.160004  142.160004
 10712 2023-02-28  142.940002  143.615005  141.910004  143.425003  143.425003

          Volume  moving_avg
 0         29025         NaN
 1        125550         NaN
 2         45900         NaN
 3         84375         NaN
 4         63450         NaN
 ...         ...         ...
 10708  11107500  141.688575
 10709   8068000  141.274288
 10710   9123000  140.950001
 10711  10014700  140.715716
 10712   5950953  140.945001

 [10713 rows x 8 columns],
 'wmt':             Date        Open        High         Low       Close   Adj Close  \
 0     1980-09-02    0.187500    0.187500    0.186035    0.187500    0.110352
 1     1980-09-03    0.187500    0.190918    0.187500    0.189941    0.111788
 2     1980-09-04    0.190918    0.194336    0.190918    0.190918    0.112363
 3     1980-09-05    0.191406    0.191406    0.191406    0.191406    0.112651
 4     1980-09-08    0.191406    0.192871    0.189941    0.192383    0.113226

In [ ]:
Item_description = ['Entry into a Material Definitive Agreement', 'Termination of a Material Definitive Agreement', 'Bankruptcy or Recievership'  ]
Item_description += ['Completion of Acquisition or Disposition of Assets','Results of Operations and Financial Condition', 'Creation of a Direct Financial Obligation or an Obligation under an Off-Balance Sheet Arrangement of a Registrant']

In [187]:
aapl = clean_df('data/aapl.csv', 7)
aapl

,Date,Close/Last,Volume,Open,High,Low,moving_avg
0,2023-02-24,146.7100,55469610,$147.11,$147.19,$145.7202,NaN
1,2023-02-23,149.4000,48394250,$150.09,$150.34,$147.24,NaN
2,2023-02-22,148.9100,51011310,$148.87,$149.95,$147.16,NaN
3,2023-02-21,148.4800,58867230,$150.20,$151.30,$148.405,NaN
4,2023-02-17,152.5500,59144120,$152.35,$153.00,$150.85,NaN
...,...,...,...,...,...,...,...
2514,2013-03-01,15.3739,551278339,$15.6429,$15.6493,$15.3564,15.344371
2515,2013-02-28,15.7643,322049711,$15.8589,$15.9954,$15.7643,15.362386
2516,2013-02-27,15.8775,586219246,$16.0154,$16.1586,$15.7375,15.427943
2517,2013-02-26,16.0346,500162120,$15.8507,$16.1264,$15.6307,15.521757
2518,2013-02-25,15.8143,371253811,$16.2089,$16.2543,$15.8061,15.609200

In [186]:
comp_his = clean_df('data/comp.csv', 7)
comp_his # this is used to compare the individual companies with NASDAQ (comp)

           Date  Close/Last Volume      Open      High       Low   moving_avg
0    2023-02-24    11394.94     --  11404.18  11434.36  11334.47          NaN
1    2023-02-23    11590.40     --  11636.93  11638.98  11432.58          NaN
2    2023-02-22    11507.07     --  11517.20  11582.52  11445.17          NaN
3    2023-02-21    11492.30     --  11640.37  11684.14  11491.18          NaN
4    2023-02-17    11787.27     --  11777.50  11803.22  11673.21          NaN
...         ...         ...    ...       ...       ...       ...          ...
2538 2013-03-01     3169.74     --   3160.19   3171.50   3129.40  3218.228571
2539 2013-02-28     3160.19     --   3162.26   3182.60   3159.72  3204.988571
2540 2013-02-27     3162.26     --   3129.65   3177.80   3127.27  3193.258571
2541 2013-02-26     3129.65     --   3116.25   3135.57   3105.36  3178.624286
2542 2013-02-25     3116.25     --   3161.82   3186.25   3116.25  3163.464286

[2543 rows x 7 columns]

In [164]:
def calculate_moving_average(company_df, ref_df, date, moving_avg):
    date = datetime.strptime(date, '%m/%d/%Y')
    company_rolling_avg_date = company_df.loc[date]

    # Calculate the 7-day moving average for each dataframe
    company_before_avg = company_before['Close/Last'].mean()
    company_after_avg = company_after['Close/Last'].mean()
    
    print(company_before_avg)
    print(company_after_avg)

In [10]:
def label_performance(tikr, ref_df, date, days_period, threshold=0):

    try:
        date = datetime.strptime(str(date), "%Y%m%d.%f")
    except:
        return -3 #date formatting issue

    # gets n-day moving average from day before
    try:
        company_df = TIKRS_dat[tikr]
        company_avg_before = company_df[company_df['Date'] < date].iloc[0]['moving_avg']
        # gets n-day moving average from days_period after date
        company_avg_after = company_df[company_df['Date'] > date].iloc[-days_period]['moving_avg']
        ref_avg_before = ref_df[ref_df['Date'] < date].iloc[0]['moving_avg']
        ref_avg_after = ref_df[ref_df['Date'] > date].iloc[-days_period]['moving_avg']

        company_delta = (company_avg_after - company_avg_before) / company_avg_before
        ref_delta = (ref_avg_after - ref_avg_before) / ref_avg_before

        if company_delta < ref_delta - threshold:
            return 0 # underperforms

        elif company_delta > ref_delta + threshold:
            return 1 # outperforms
        else:
            return 2 # neutral performance
    except:
        return -1 # this means it was unsuccessful and there was an error processing

In [106]:

def label_performance(tikr, ref_df, date, days_period, threshold=0):
    # gets n-day moving average from day before
    company_df = TIKRS_dat[tikr]
    try:
        is_avg_before = company_df[company_df['Date'] < date]
       
        company_avg_before = company_df[company_df['Date'] < date].iloc[0]['moving_avg']
        # gets n-day moving average from days_period after date
        company_avg_after = company_df[company_df['Date'] > date].iloc[-days_period]['moving_avg']
        ref_avg_before = ref_df[ref_df['Date'] < date].iloc[0]['moving_avg']
        ref_avg_after = ref_df[ref_df['Date'] > date].iloc[-days_period]['moving_avg']

        company_delta = (company_avg_after - company_avg_before) / company_avg_before
        ref_delta = (ref_avg_after - ref_avg_before) / ref_avg_before

        if company_delta < ref_delta - threshold:
            return 0 # underperforms

        elif company_delta > ref_delta + threshold:
            return 1 # outperforms
        else:
            return 2 # neutral performance
    except:
        print( date)

In [16]:
print(label_performance('aapl', comp_his, '2016-03-24', 7, 0.01))

1

In [173]:
dat = pd.read_csv('8k_data.csv',index_col = 0, parse_dates = [5])

dat = pd.read_csv('8k_data_load.csv',index_col = 0, parse_dates = [5]) 
dat['tikr'] = dat['tikr'].str.lower()
dat = dat[(dat['date'] > '2013-06-06')]
a = dat['tikr'].value_counts()

In [95]:

dat['label'] = dat.apply(lambda row: label_performance(row['tikr'], comp_his, row['date'], 7, 0.01 ), axis=1)

2005-06-06 00:00:00
2005-04-13 00:00:00
2008-10-21 00:00:00
2008-01-22 00:00:00
1997-09-25 00:00:00
2009-01-21 00:00:00
2011-10-18 00:00:00
2004-04-14 00:00:00
1997-09-25 00:00:00
2006-04-21 00:00:00
2012-05-24 00:00:00
2011-01-18 00:00:00
1999-09-07 00:00:00
2010-04-20 00:00:00
2005-12-19 00:00:00
1997-04-25 00:00:00
2005-10-11 00:00:00
2005-03-02 00:00:00
2011-06-15 00:00:00
2003-07-16 00:00:00
1999-07-16 00:00:00
2012-04-24 00:00:00
2011-08-26 00:00:00
2012-07-24 00:00:00
1996-06-17 00:00:00
1996-10-28 00:00:00
2006-01-10 00:00:00
2006-01-18 00:00:00
2009-07-21 00:00:00
2006-04-19 00:00:00
2009-02-27 00:00:00
2007-10-22 00:00:00
2012-06-28 00:00:00
2004-07-14 00:00:00
2005-10-14 00:00:00
2007-04-25 00:00:00
2005-01-12 00:00:00
2009-08-04 00:00:00
2008-08-26 00:00:00
1996-04-12 00:00:00
2007-02-21 00:00:00
2010-11-17 00:00:00
2009-06-02 00:00:00
2012-10-25 00:00:00
2009-04-22 00:00:00
2006-10-04 00:00:00
2011-10-06 00:00:00
2013-01-23 00:00:00
2006-09-01 00:00:00
1996-12-13 00:00:00
2002-08-05 00:00:00
2007-07-25 00:00:00
1998-12-23 00:00:00
2012-02-27 00:00:00
2008-06-09 00:00:00
2011-02-24 00:00:00
2012-01-24 00:00:00
2011-04-20 00:00:00
2010-01-25 00:00:00
2010-03-12 00:00:00
2008-01-15 00:00:00
2009-10-19 00:00:00
1996-12-24 00:00:00
2011-01-18 00:00:00
2010-03-01 00:00:00
2007-01-10 00:00:00
2006-07-19 00:00:00
2011-11-16 00:00:00
1998-01-08 00:00:00
2006-10-27 00:00:00
2000-01-24 00:00:00
2007-04-24 00:00:00
2005-02-11 00:00:00
2005-04-26 00:00:00
2002-08-13 00:00:00
2004-10-13 00:00:00
2008-04-23 00:00:00
2005-08-26 00:00:00
2010-10-18 00:00:00
1997-07-28 00:00:00
2003-03-21 00:00:00
2010-07-20 00:00:00
2006-10-18 00:00:00
1997-04-10 00:00:00
2005-01-11 00:00:00
2006-08-04 00:00:00
2006-08-11 00:00:00
2007-01-17 00:00:00
2005-08-15 00:00:00
2008-07-21 00:00:00
2007-05-16 00:00:00
2009-01-16 00:00:00
2011-07-19 00:00:00
2003-10-15 00:00:00
2005-07-13 00:00:00
2008-01-08 00:00:00
2003-04-16 00:00:00
1997-09-05 00:00:00
2004-01-14 00:00:00
2005-09-28 00:00:00
2007-05-24 00:00:00
2012-07-02 00:00:00
2005-01-27 00:00:00
2011-02-08 00:00:00
2012-11-02 00:00:00
2012-10-18 00:00:00
2005-05-04 00:00:00
2009-10-23 00:00:00
2006-10-24 00:00:00
2012-05-03 00:00:00
2008-02-12 00:00:00
2009-05-15 00:00:00
2007-10-19 00:00:00
2008-10-23 00:00:00
2005-05-23 00:00:00
2005-04-25 00:00:00
2008-04-24 00:00:00
2003-10-23 00:00:00
2005-11-29 00:00:00
2004-10-21 00:00:00
2009-04-23 00:00:00
2011-10-20 00:00:00
2005-01-11 00:00:00
2007-08-13 00:00:00
2004-11-08 00:00:00
2005-09-28 00:00:00
2003-09-05 00:00:00
2012-11-07 00:00:00
2013-01-24 00:00:00
2005-11-14 00:00:00
2007-07-19 00:00:00
2007-02-27 00:00:00
2009-09-11 00:00:00
2011-01-27 00:00:00
2008-02-14 00:00:00
2006-07-17 00:00:00
2012-10-09 00:00:00
2010-09-27 00:00:00
2004-11-12 00:00:00
2004-04-28 00:00:00
2009-03-10 00:00:00
2004-01-22 00:00:00
2005-04-11 00:00:00
2008-05-19 00:00:00
2008-07-17 00:00:00
2008-11-20 00:00:00
2007-11-27 00:00:00
2010-11-19 00:00:00
2008-02-01 00:00:00
2011-04-28 00:00:00
2007-04-26 00:00:00
2003-07-17 00:00:00
2012-04-19 00:00:00
2006-04-27 00:00:00
2007-10-25 00:00:00
2006-10-26 00:00:00
2002-11-14 00:00:00
2006-08-25 00:00:00
2008-09-25 00:00:00
2007-01-25 00:00:00
2006-06-12 00:00:00
2009-11-24 00:00:00
2011-11-17 00:00:00
2008-06-17 00:00:00
2009-12-04 00:00:00
2003-05-12 00:00:00
2006-01-20 00:00:00
2010-06-08 00:00:00
2007-07-05 00:00:00
2003-10-24 00:00:00
2006-04-13 00:00:00
2009-03-13 00:00:00
2006-01-26 00:00:00
2012-06-18 00:00:00
2005-08-04 00:00:00
2006-02-03 00:00:00
2008-09-22 00:00:00
2010-04-22 00:00:00
2008-07-25 00:00:00
2004-09-09 00:00:00
2003-04-15 00:00:00
2008-01-24 00:00:00
2011-05-10 00:00:00
2010-05-25 00:00:00
2012-11-16 00:00:00
2012-11-29 00:00:00
2004-11-15 00:00:00
2012-07-19 00:00:00
2004-07-22 00:00:00
2005-03-23 00:00:00
2012-01-19 00:00:00
2008-04-24 00:00:00
2003-11-13 00:00:00
2002-09-06 00:00:00
2008-01-11 00:00:00
2009-07-23 00:00:00
2012-09-18 00:00:00
2008-05-05 00:00:00
2010-06-09 00:00:00
2005-11-21 00:00:00
2010-09-13 00:00:00
2002-09-06 00:00:00
2005-07-21 00:00:00
2000-06-16 00:00:00
2004-05-03 00:00:00
2005-04-28 00:00:00
2006-07-20 00:00:00
2006-06-16 00:00:00
NaT
2005-10-27 00:00:00
2007-05-16 00:00:00
2005-06-29 00:00:00
2010-10-28 00:00:00
1999-07-19 00:00:00
2008-04-07 00:00:00
2004-04-23 00:00:00
2006-10-10 00:00:00
2009-01-22 00:00:00
2008-08-01 00:00:00
2011-07-21 00:00:00
2006-11-14 00:00:00
2010-06-18 00:00:00
2007-03-26 00:00:00
2012-02-21 00:00:00
2005-02-07 00:00:00
2008-10-23 00:00:00
2004-02-06 00:00:00
2010-07-22 00:00:00
2007-12-05 00:00:00
2003-02-03 00:00:00
2006-03-10 00:00:00
2010-01-28 00:00:00
2006-07-24 00:00:00
2006-08-28 00:00:00
2009-04-17 00:00:00
2006-04-25 00:00:00
2007-04-27 00:00:00
2008-01-30 00:00:00
2012-12-28 00:00:00
1999-04-29 00:00:00
2004-07-22 00:00:00
2005-10-25 00:00:00
2004-04-13 00:00:00
2004-01-27 00:00:00
2008-06-11 00:00:00
1999-10-28 00:00:00
2006-06-02 00:00:00
2010-03-16 00:00:00
2009-04-23 00:00:00
2008-02-08 00:00:00
2011-07-26 00:00:00
2002-06-11 00:00:00
1999-02-04 00:00:00
2008-04-18 00:00:00
1998-11-20 00:00:00
2002-07-31 00:00:00
2010-05-28 00:00:00
2010-01-28 00:00:00
2007-02-01 00:00:00
2004-09-08 00:00:00
2007-03-22 00:00:00
2007-08-31 00:00:00
1999-03-29 00:00:00
2010-10-21 00:00:00
2008-08-18 00:00:00
2009-02-18 00:00:00
2000-02-04 00:00:00
1998-04-28 00:00:00
1998-08-27 00:00:00
2012-07-26 00:00:00
2000-02-14 00:00:00
2008-05-09 00:00:00
2000-05-01 00:00:00
1999-06-10 00:00:00
2006-10-24 00:00:00
2012-05-01 00:00:00
2012-10-25 00:00:00
2000-07-28 00:00:00
2006-07-25 00:00:00
1997-11-10 00:00:00
2012-11-29 00:00:00
2011-04-27 00:00:00
2002-04-18 00:00:00
2007-12-21 00:00:00
2009-07-23 00:00:00
1999-05-12 00:00:00
2005-08-11 00:00:00
2003-10-21 00:00:00
1999-03-30 00:00:00
2009-07-24 00:00:00
2007-04-24 00:00:00
2012-04-13 00:00:00
2010-07-22 00:00:00
1998-05-06 00:00:00
2003-04-11 00:00:00
2011-04-26 00:00:00
1998-05-01 00:00:00
2010-11-08 00:00:00
2003-04-11 00:00:00
2002-08-30 00:00:00
2011-03-24 00:00:00
2012-03-20 00:00:00
2005-06-03 00:00:00
2001-04-13 00:00:00
1998-08-07 00:00:00
2011-01-27 00:00:00
2010-04-14 00:00:00
2003-04-11 00:00:00
1998-09-11 00:00:00
2009-03-06 00:00:00
2009-11-02 00:00:00
2008-10-22 00:00:00
2000-02-16 00:00:00
2008-04-23 00:00:00
2006-02-02 00:00:00
2007-09-18 00:00:00
2008-11-17 00:00:00
2011-10-25 00:00:00
2005-04-05 00:00:00
2010-04-22 00:00:00
2007-07-24 00:00:00
2008-07-23 00:00:00
2003-01-27 00:00:00
1998-04-27 00:00:00
1999-01-05 00:00:00
1999-06-11 00:00:00
2009-01-29 00:00:00
2012-01-31 00:00:00
1999-01-27 00:00:00
2004-04-12 00:00:00
2012-02-10 00:00:00
2008-09-17 00:00:00
2003-07-22 00:00:00
2005-04-26 00:00:00
2002-11-07 00:00:00
2000-02-28 00:00:00
2002-03-06 00:00:00
2012-05-25 00:00:00
2011-09-08 00:00:00
2004-10-21 00:00:00
2010-12-17 00:00:00
2009-07-22 00:00:00
2000-02-07 00:00:00
2005-07-26 00:00:00
1999-05-19 00:00:00
2009-10-22 00:00:00
2013-01-29 00:00:00
2003-04-24 00:00:00
2012-04-26 00:00:00
1999-04-27 00:00:00
2000-02-07 00:00:00
2011-06-10 00:00:00
2007-10-23 00:00:00
2012-10-05 00:00:00
1999-01-29 00:00:00
2004-07-01 00:00:00
1999-07-22 00:00:00
2005-02-02 00:00:00
2004-04-22 00:00:00
2001-02-02 00:00:00
2008-02-01 00:00:00
2006-04-21 00:00:00
1998-10-28 00:00:00
2004-08-19 00:00:00
2009-06-12 00:00:00
1999-01-28 00:00:00
2012-09-25 00:00:00
2010-12-16 00:00:00
2011-10-11 00:00:00
2010-10-13 00:00:00
2011-11-02 00:00:00
2011-06-01 00:00:00
2012-03-26 00:00:00
2012-06-08 00:00:00
2012-07-25 00:00:00
2010-08-04 00:00:00
2011-06-17 00:00:00
2011-02-15 00:00:00
2012-02-15 00:00:00
2010-10-20 00:00:00
2013-02-20 00:00:00
2012-12-18 00:00:00
2011-01-06 00:00:00
2012-11-05 00:00:00
2011-01-06 00:00:00
2011-07-20 00:00:00
2011-08-24 00:00:00
2012-05-09 00:00:00
2011-08-03 00:00:00
2010-11-04 00:00:00
2010-11-09 00:00:00
2010-08-19 00:00:00
2011-05-04 00:00:00
2011-06-03 00:00:00
2008-07-02 00:00:00
2005-04-14 00:00:00
2009-01-09 00:00:00
2002-08-13 00:00:00
2001-04-10 00:00:00
1996-07-11 00:00:00
2010-05-28 00:00:00
2009-06-03 00:00:00
2007-01-10 00:00:00
2006-12-18 00:00:00
2007-07-19 00:00:00
2012-10-22 00:00:00
2004-02-17 00:00:00
2007-12-04 00:00:00
2007-05-30 00:00:00
1999-02-23 00:00:00
2011-07-19 00:00:00
2009-07-21 00:00:00
2010-08-02 00:00:00
2006-03-02 00:00:00
2004-01-12 00:00:00
2010-09-13 00:00:00
2011-07-06 00:00:00
2001-05-29 00:00:00
2009-06-09 00:00:00
2011-06-21 00:00:00
2008-02-14 00:00:00
2007-01-08 00:00:00
2012-03-12 00:00:00
2002-11-20 00:00:00
1998-05-29 00:00:00
2004-09-24 00:00:00
2004-09-10 00:00:00
2011-05-02 00:00:00
2010-06-14 00:00:00
2006-12-26 00:00:00
2007-01-18 00:00:00
2003-01-23 00:00:00
2006-02-03 00:00:00
2008-04-22 00:00:00
2006-05-16 00:00:00
2004-02-10 00:00:00
2003-05-21 00:00:00
2007-03-06 00:00:00
2012-01-19 00:00:00
2010-12-15 00:00:00
2005-01-20 00:00:00
2006-06-20 00:00:00
2003-09-16 00:00:00
2003-10-27 00:00:00
2012-04-19 00:00:00
2012-11-26 00:00:00
2006-01-19 00:00:00
2009-02-06 00:00:00
2002-05-16 00:00:00
2009-04-21 00:00:00
2011-04-21 00:00:00
2003-11-19 00:00:00
1998-06-16 00:00:00
2008-05-19 00:00:00
1996-02-15 00:00:00
2010-11-29 00:00:00
2004-02-10 00:00:00
2002-03-07 00:00:00
2005-02-07 00:00:00
2006-10-16 00:00:00
2003-12-12 00:00:00
2011-01-20 00:00:00
2007-05-11 00:00:00
2005-11-09 00:00:00
2009-02-11 00:00:00
2006-12-19 00:00:00
1999-01-08 00:00:00
2007-04-20 00:00:00
2000-03-07 00:00:00
2002-01-17 00:00:00
2010-06-22 00:00:00
2006-10-06 00:00:00
2008-11-25 00:00:00
2000-11-17 00:00:00
2006-04-18 00:00:00
2009-10-26 00:00:00
2009-01-22 00:00:00
1995-10-17 00:00:00
1996-02-29 00:00:00
2008-06-06 00:00:00
2008-11-26 00:00:00
2010-01-21 00:00:00
1998-12-01 00:00:00
2003-09-19 00:00:00
2011-05-09 00:00:00
2001-03-26 00:00:00
2008-02-08 00:00:00
2006-12-18 00:00:00
2011-03-01 00:00:00

2006-02-10 00:00:00
2005-03-10 00:00:00
2003-03-19 00:00:00
2005-06-13 00:00:00
2007-08-21 00:00:00
2012-03-27 00:00:00
2005-10-14 00:00:00
2012-05-14 00:00:00
2012-11-02 00:00:00
2011-11-03 00:00:00
2006-11-03 00:00:00
2010-01-06 00:00:00
2004-08-16 00:00:00
2006-04-07 00:00:00
2005-08-15 00:00:00
2006-03-29 00:00:00
2009-03-09 00:00:00
2011-05-23 00:00:00
2004-12-13 00:00:00
NaT
2012-03-08 00:00:00
2009-05-28 00:00:00
2003-12-03 00:00:00
2007-03-12 00:00:00
2002-11-01 00:00:00
2008-03-13 00:00:00
2008-03-14 00:00:00
2008-02-07 00:00:00
2002-11-26 00:00:00
2007-12-06 00:00:00
2005-12-22 00:00:00
2005-12-27 00:00:00
2004-08-06 00:00:00
2009-09-11 00:00:00
2011-09-06 00:00:00
2006-05-18 00:00:00
2011-11-28 00:00:00
2003-02-12 00:00:00
2009-01-15 00:00:00
2002-08-26 00:00:00
2010-06-02 00:00:00
2007-05-16 00:00:00
2008-07-22 00:00:00
2006-05-04 00:00:00
2010-07-20 00:00:00
2004-11-08 00:00:00
2012-12-06 00:00:00
2004-02-04 00:00:00
2006-08-28 00:00:00
2006-12-01 00:00:00
2008-05-28 00:00:00
2006-11-30 00:00:00
2004-07-19 00:00:00
2008-05-05 00:00:00
2003-10-16 00:00:00
2006-09-12 00:00:00
2010-02-04 00:00:00
2008-02-21 00:00:00
2004-05-05 00:00:00
2008-09-08 00:00:00
2009-05-15 00:00:00
NaT
2009-11-30 00:00:00
2010-10-25 00:00:00
2004-04-27 00:00:00
2011-02-14 00:00:00
2013-01-17 00:00:00
2006-08-10 00:00:00
2005-09-12 00:00:00
2010-05-10 00:00:00
2001-03-13 00:00:00
2008-12-02 00:00:00
2006-04-27 00:00:00
2007-02-02 00:00:00
2006-05-01 00:00:00
2006-04-27 00:00:00
2006-10-18 00:00:00
2003-01-03 00:00:00
2005-02-11 00:00:00
2012-09-10 00:00:00
2005-07-12 00:00:00
2004-05-18 00:00:00
2009-01-06 00:00:00
2003-05-08 00:00:00
2010-10-19 00:00:00
2007-04-19 00:00:00
2005-05-27 00:00:00
2004-01-06 00:00:00
2006-01-19 00:00:00
NaT
2006-10-19 00:00:00
2008-04-28 00:00:00
2005-07-14 00:00:00
2012-05-29 00:00:00
2003-04-16 00:00:00
2012-07-19 00:00:00
2007-03-14 00:00:00
2011-05-27 00:00:00
2011-10-18 00:00:00
2010-04-20 00:00:00
2001-02-27 00:00:00
2005-03-07 00:00:00
2003-03-25 00:00:00
2006-06-01 00:00:00
2010-02-08 00:00:00
2008-01-22 00:00:00
2012-06-08 00:00:00
2012-10-16 00:00:00
2006-06-30 00:00:00
2011-02-17 00:00:00
2007-02-05 00:00:00
1996-12-19 00:00:00
2002-09-20 00:00:00
2011-01-24 00:00:00
2003-07-17 00:00:00
1995-11-02 00:00:00
2006-07-19 00:00:00
2009-10-20 00:00:00
2012-11-19 00:00:00
2011-06-06 00:00:00
2004-04-15 00:00:00
2011-02-04 00:00:00
2006-11-08 00:00:00
2003-12-04 00:00:00
NaT
2007-10-18 00:00:00
2007-09-07 00:00:00
2008-10-16 00:00:00
2010-05-03 00:00:00
2010-01-25 00:00:00
2004-10-14 00:00:00
2011-11-10 00:00:00
2004-07-15 00:00:00
2007-01-04 00:00:00
2012-10-09 00:00:00
2006-04-18 00:00:00
2011-09-12 00:00:00
2007-08-06 00:00:00
2004-07-30 00:00:00
1996-03-08 00:00:00
2009-10-22 00:00:00
2007-04-27 00:00:00
2011-01-25 00:00:00
2010-09-16 00:00:00
2010-04-20 00:00:00
2006-11-17 00:00:00
2007-04-17 00:00:00
2006-01-17 00:00:00
2007-04-18 00:00:00
2005-01-19 00:00:00
2007-11-29 00:00:00
2007-07-17 00:00:00
2010-07-20 00:00:00
2010-10-19 00:00:00
2011-03-10 00:00:00
2007-05-07 00:00:00
2008-01-15 00:00:00
2012-06-12 00:00:00
2004-10-13 00:00:00
2009-07-14 00:00:00
2007-07-11 00:00:00
2012-11-09 00:00:00
2010-10-01 00:00:00
2005-01-26 00:00:00
2009-11-03 00:00:00
2004-10-06 00:00:00
2007-07-31 00:00:00
2009-02-13 00:00:00
2004-12-16 00:00:00
2004-12-08 00:00:00
2001-11-27 00:00:00
2006-07-18 00:00:00
2006-10-17 00:00:00
2011-04-08 00:00:00
2003-10-14 00:00:00
NaT
2005-04-21 00:00:00
2006-02-17 00:00:00
2012-01-24 00:00:00
2001-08-07 00:00:00
2006-04-18 00:00:00
2004-01-16 00:00:00
2012-05-08 00:00:00
2005-07-19 00:00:00
2008-04-15 00:00:00
2012-03-28 00:00:00
2005-11-18 00:00:00
2012-06-08 00:00:00
2007-01-23 00:00:00
2004-12-02 00:00:00
2002-04-16 00:00:00
2005-04-19 00:00:00
2013-01-22 00:00:00
2002-08-13 00:00:00
2001-10-22 00:00:00
2012-02-21 00:00:00
2006-10-12 00:00:00
2012-06-14 00:00:00
2002-12-30 00:00:00
2012-10-16 00:00:00
2008-06-23 00:00:00
2006-04-17 00:00:00
2006-05-17 00:00:00
2011-04-29 00:00:00
2011-06-14 00:00:00
2007-02-07 00:00:00
2008-11-24 00:00:00
2006-01-12 00:00:00
2002-12-04 00:00:00
2013-01-22 00:00:00
2011-10-18 00:00:00
2012-08-06 00:00:00
2010-02-05 00:00:00
2011-05-20 00:00:00
2012-07-17 00:00:00
2006-03-09 00:00:00
2012-04-19 00:00:00
2012-04-19 00:00:00
2011-06-15 00:00:00
2002-10-23 00:00:00
2011-11-30 00:00:00
NaT
2004-12-20 00:00:00
2005-10-18 00:00:00
2012-04-09 00:00:00
2011-04-27 00:00:00
2011-12-13 00:00:00
2011-05-02 00:00:00
2008-09-12 00:00:00
2010-01-26 00:00:00
2006-06-27 00:00:00
2006-07-17 00:00:00
2006-01-26 00:00:00
2011-04-19 00:00:00
2011-07-19 00:00:00
2012-04-27 00:00:00
2005-08-25 00:00:00
2005-11-02 00:00:00
2005-10-24 00:00:00
2012-04-17 00:00:00
2009-02-27 00:00:00
2004-01-20 00:00:00
2006-07-11 00:00:00
2006-02-17 00:00:00
2012-07-20 00:00:00
1999-12-14 00:00:00
2001-03-14 00:00:00
2001-09-20 00:00:00
2011-04-15 00:00:00
2007-02-15 00:00:00
2008-04-24 00:00:00
2011-07-19 00:00:00
2009-01-20 00:00:00
2008-07-15 00:00:00
2007-10-16 00:00:00
2010-07-19 00:00:00
2006-10-31 00:00:00
2006-02-14 00:00:00
2004-10-04 00:00:00
2009-04-14 00:00:00
2004-03-01 00:00:00
2007-03-02 00:00:00
2005-11-15 00:00:00
2003-04-29 00:00:00
2003-04-16 00:00:00
2009-10-13 00:00:00
2004-03-01 00:00:00
2007-10-01 00:00:00
2010-07-12 00:00:00
2013-02-25 00:00:00
2007-06-14 00:00:00
2003-07-18 00:00:00
2012-01-13 00:00:00
2008-01-22 00:00:00
2005-02-18 00:00:00
2010-04-26 00:00:00
2008-10-14 00:00:00
2006-01-24 00:00:00
2004-04-13 00:00:00
2003-01-30 00:00:00
2005-12-16 00:00:00
2004-04-26 00:00:00
2010-08-18 00:00:00
2005-01-18 00:00:00
2012-12-03 00:00:00
2005-03-07 00:00:00
2004-07-15 00:00:00
2004-04-05 00:00:00
2011-11-22 00:00:00
2003-03-12 00:00:00
2006-12-21 00:00:00
2012-07-11 00:00:00
2002-11-20 00:00:00
2000-01-18 00:00:00
1999-06-24 00:00:00
1999-10-15 00:00:00
1999-10-08 00:00:00
1999-06-22 00:00:00
NaT
2000-03-06 00:00:00
2003-08-01 00:00:00
2003-05-02 00:00:00
2006-05-08 00:00:00
2005-12-13 00:00:00
2002-09-11 00:00:00
2004-01-30 00:00:00
2005-06-30 00:00:00
1999-09-30 00:00:00
2007-10-09 00:00:00
NaT
2000-10-16 00:00:00
2011-05-31 00:00:00
2005-07-25 00:00:00
2010-04-30 00:00:00
1998-01-29 00:00:00
1999-09-28 00:00:00
1999-09-28 00:00:00
2012-07-27 00:00:00
2007-07-10 00:00:00
2010-07-12 00:00:00
2009-04-09 00:00:00
2008-04-09 00:00:00
2002-09-03 00:00:00
2011-04-29 00:00:00
2012-04-10 00:00:00
2012-01-27 00:00:00
2011-02-01 00:00:00
2009-01-08 00:00:00
1998-02-03 00:00:00
2008-05-02 00:00:00
2005-04-29 00:00:00
2010-03-09 00:00:00
2006-07-28 00:00:00
2008-10-09 00:00:00
2009-12-11 00:00:00
1997-12-22 00:00:00
2006-07-05 00:00:00
2009-09-30 00:00:00
2006-12-12 00:00:00
2010-02-02 00:00:00
1999-04-23 00:00:00
1998-11-25 00:00:00
2001-10-01 00:00:00
2012-10-09 00:00:00
2007-01-10 00:00:00
NaT
2005-08-17 00:00:00
1997-06-18 00:00:00
2012-01-11 00:00:00
2011-04-11 00:00:00
2005-04-04 00:00:00
2001-10-01 00:00:00
2004-12-09 00:00:00
2009-01-30 00:00:00
2012-10-03 00:00:00
NaT
2005-08-10 00:00:00
2010-06-02 00:00:00
1997-01-24 00:00:00
2001-09-10 00:00:00
2003-01-31 00:00:00
2006-04-28 00:00:00
2005-01-28 00:00:00
2007-07-27 00:00:00
2010-10-12 00:00:00
2009-03-03 00:00:00
2010-09-30 00:00:00
2004-07-30 00:00:00
2011-10-11 00:00:00
2009-03-30 00:00:00
2005-10-04 00:00:00
2007-02-02 00:00:00
2001-11-01 00:00:00
2004-10-29 00:00:00
2011-10-28 00:00:00
2011-06-01 00:00:00
2013-01-10 00:00:00
2007-05-25 00:00:00
2011-04-04 00:00:00
2010-04-08 00:00:00
NaT
2012-11-02 00:00:00
2005-10-28 00:00:00
2003-02-18 00:00:00
2007-02-05 00:00:00
2008-03-31 00:00:00
2005-04-07 00:00:00
2011-01-11 00:00:00
2011-07-29 00:00:00
1999-01-26 00:00:00
1999-03-08 00:00:00
2010-01-11 00:00:00
2011-01-28 00:00:00
2009-02-27 00:00:00
2004-04-30 00:00:00
NaT
2010-05-13 00:00:00
2007-04-03 00:00:00
2012-06-04 00:00:00
2004-07-29 00:00:00
2005-04-28 00:00:00
2008-12-11 00:00:00
1999-02-02 00:00:00
2001-03-15 00:00:00
2002-08-07 00:00:00
2013-02-01 00:00:00
2007-06-08 00:00:00
2001-11-19 00:00:00
2009-05-01 00:00:00
2010-01-29 00:00:00
2011-07-11 00:00:00
NaT
2008-01-10 00:00:00
2008-08-01 00:00:00
2005-07-29 00:00:00
2005-05-10 00:00:00
2001-10-09 00:00:00
1996-01-22 00:00:00
2009-10-30 00:00:00
2011-12-12 00:00:00
2012-01-27 00:00:00
2008-02-01 00:00:00
2000-06-02 00:00:00
2009-07-31 00:00:00
2012-04-27 00:00:00

2007-04-27 00:00:00
2006-01-27 00:00:00
2003-10-31 00:00:00
1996-01-04 00:00:00
2013-02-04 00:00:00
2010-04-01 00:00:00
2007-11-02 00:00:00
2006-10-27 00:00:00
2009-10-08 00:00:00
2005-07-20 00:00:00
2012-12-05 00:00:00
1999-11-18 00:00:00
2012-03-29 00:00:00
2006-02-28 00:00:00
2000-12-21 00:00:00
2010-10-29 00:00:00
NaT
2008-10-31 00:00:00
1995-12-06 00:00:00
2008-02-01 00:00:00
2010-07-30 00:00:00
NaT
2007-04-10 00:00:00
2008-07-10 00:00:00
2009-07-09 00:00:00
2010-10-14 00:00:00
2005-04-28 00:00:00
2010-01-15 00:00:00
2001-03-22 00:00:00
2008-04-08 00:00:00
1997-05-02 00:00:00
2000-09-28 00:00:00
2011-11-03 00:00:00
2007-10-30 00:00:00
1997-04-25 00:00:00
2008-09-26 00:00:00
2008-06-04 00:00:00
2010-01-12 00:00:00
2002-06-12 00:00:00
2009-01-13 00:00:00
2009-03-09 00:00:00
2001-08-07 00:00:00
2001-06-15 00:00:00
2009-02-17 00:00:00
2002-04-30 00:00:00
2009-08-05 00:00:00
2006-05-03 00:00:00
2008-10-31 00:00:00
2005-03-15 00:00:00
2008-12-11 00:00:00
2010-02-18 00:00:00
2001-01-30 00:00:00
2010-04-29 00:00:00
2008-07-08 00:00:00
2007-02-06 00:00:00
2004-11-16 00:00:00
2007-03-27 00:00:00
2006-02-03 00:00:00
2005-03-23 00:00:00
2006-12-01 00:00:00
2005-02-22 00:00:00
2011-11-15 00:00:00
2008-11-18 00:00:00
2008-08-19 00:00:00
2004-02-24 00:00:00
2005-07-29 00:00:00
2005-12-16 00:00:00
2007-01-04 00:00:00
2006-12-19 00:00:00
2010-08-17 00:00:00
2007-07-13 00:00:00
2008-08-22 00:00:00
2007-08-28 00:00:00
2007-11-15 00:00:00
2003-11-18 00:00:00
2007-12-17 00:00:00
2010-09-10 00:00:00
2006-03-23 00:00:00
2004-12-22 00:00:00
2011-01-12 00:00:00
2006-06-23 00:00:00
2008-02-26 00:00:00
2007-02-20 00:00:00
2006-01-10 00:00:00
2009-05-19 00:00:00
2006-08-15 00:00:00
2008-01-18 00:00:00
2007-08-14 00:00:00
2011-08-16 00:00:00
2007-06-20 00:00:00
2007-02-01 00:00:00
2005-01-21 00:00:00
2008-11-21 00:00:00
2012-02-21 00:00:00
2005-06-03 00:00:00
2005-08-19 00:00:00
2012-11-13 00:00:00
2011-02-22 00:00:00
2005-02-01 00:00:00
2007-01-08 00:00:00
2012-05-22 00:00:00
2004-05-18 00:00:00
2003-05-20 00:00:00
2023-02-21 00:00:00
2009-03-13 00:00:00
2005-07-19 00:00:00
2006-05-16 00:00:00
2012-05-15 00:00:00
2005-11-22 00:00:00
2005-08-16 00:00:00
2008-05-20 00:00:00
2012-08-14 00:00:00
2006-10-12 00:00:00
2006-08-29 00:00:00
2011-03-02 00:00:00
2006-02-21 00:00:00
2007-02-26 00:00:00
2012-08-07 00:00:00
2005-05-17 00:00:00
2010-11-16 00:00:00
2006-12-15 00:00:00
2007-05-15 00:00:00
2008-04-10 00:00:00
2009-08-18 00:00:00
2005-02-24 00:00:00
2005-05-27 00:00:00
2010-05-18 00:00:00
2008-05-28 00:00:00
2011-03-24 00:00:00
2012-09-21 00:00:00
2010-05-25 00:00:00
2012-11-16 00:00:00
2009-11-17 00:00:00
2006-11-17 00:00:00
2011-06-07 00:00:00
2007-08-31 00:00:00
2010-02-23 00:00:00
2007-08-15 00:00:00
2011-03-31 00:00:00
2007-11-13 00:00:00
2005-09-14 00:00:00
2008-08-25 00:00:00
1997-02-26 00:00:00
2006-11-14 00:00:00
2011-05-17 00:00:00
2008-03-03 00:00:00
2001-04-09 00:00:00
2003-08-19 00:00:00
2006-07-07 00:00:00
2007-08-20 00:00:00
2007-05-01 00:00:00
2007-05-29 00:00:00
2009-08-26 00:00:00
2007-03-19 00:00:00
2006-03-31 00:00:00
2005-11-15 00:00:00
2002-08-26 00:00:00
2004-09-17 00:00:00
2004-08-17 00:00:00
2009-02-24 00:00:00
2006-02-27 00:00:00
1997-09-23 00:00:00
2010-06-01 00:00:00
2010-11-09 00:00:00
2009-07-16 00:00:00
2008-02-22 00:00:00
2010-04-21 00:00:00
2012-03-02 00:00:00
2012-02-08 00:00:00
2010-10-27 00:00:00
2010-12-03 00:00:00
2012-01-31 00:00:00
2012-05-02 00:00:00
2012-02-07 00:00:00
2011-03-28 00:00:00
2007-11-09 00:00:00
2010-01-20 00:00:00
2010-07-22 00:00:00
2007-11-20 00:00:00
2008-01-11 00:00:00
2010-09-21 00:00:00
2009-06-30 00:00:00
2010-07-22 00:00:00
2008-03-13 00:00:00
2012-02-01 00:00:00
2010-07-21 00:00:00
2008-08-22 00:00:00
2008-10-17 00:00:00
2012-07-25 00:00:00
2008-11-10 00:00:00
2010-03-11 00:00:00
2012-08-20 00:00:00
2012-11-19 00:00:00
2009-07-29 00:00:00
2008-04-28 00:00:00
2012-07-16 00:00:00
2011-01-31 00:00:00
2009-04-23 00:00:00
2013-01-30 00:00:00
2011-07-06 00:00:00
2011-07-22 00:00:00
2011-12-23 00:00:00
2011-12-06 00:00:00
2012-05-22 00:00:00
2009-07-27 00:00:00
2010-12-01 00:00:00
2008-08-25 00:00:00
2012-10-24 00:00:00
2023-02-16 00:00:00

In [97]:
dat['label'].value_counts()

1.0    457
0.0    420
2.0    336
Name: label, dtype: int64

In [98]:
clean_data = dat[dat['label'] >=0]

In [99]:
clean_data.to_csv("8k_labeled.csv")

In [100]:
clean_data['label'].value_counts()

1.0    457
0.0    420
2.0    336
Name: label, dtype: int64

In [101]:
len(clean_data)

1213